@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    color-scheme: dark;
    background-color: #0f172a;
    color: #f8fafc;
  }

  html.dark body {
    background-color: #0f172a;
    color: #f8fafc;
  }
}
